body {
    margin: 0px;
    display: flex;
}

.login-esquerda {
    width: 40%;
    height: 100vh;
    background-image: url('./img/pug.png') ;
    background-size: cover;
    background-position: center;
    align-items: center;
    display:flex;
    justify-content: center;
}

.login-esquerda p {
    margin-top: -600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 40px;
    font-weight: 700;
}

.login-direita {
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.botoes p {
    margin-bottom: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.Grupobotoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Grupobotoes button {
    width: 379px;
    height: 52px;
    border-radius: 40px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.Grupobotoesimg {
    margin-left: -85px;
    margin-right: 40px;
    width: 42px;
    height: 42px;
}

.botoestexto {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoestexto h1 {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 700;
}

.botoestexto h2 {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 700;
    color:blue;
    cursor: pointer;
}

.buttonlogin {
    margin-top: 300px;
    margin-bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonlogin button{
    width: 379px;
    height: 58px;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 700;
    cursor: pointer;
}