    body {
        margin: 0px;
    }
    
    .menu{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.menu img{
width: 100px;
height: 100px;
border-radius: 100%;
}

.menu p {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}   
.campo-pesquisa{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.campo-pesquisa input{
    height: 60px;
    width: 50%;
    border-radius: 50px;
    font-size: 20px;
    padding-left: 30px;
}
.grupo-card{
 display: flex;
 justify-content: center;
 margin-top: 70px;
}

.card{
    width: 219px;
    height: 264px;
    border-radius: 20px;
    margin: 0px 50px 0px 50px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card p{
    color: white;
    font-size: 40px;
    margin: 200px 0px 0px 20px;
}

.banner{
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;   
}

.card-banner{
    height: 320px;
    width: 60%;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-esquerdo{

}
.card-esquerdo p{
    font-size: 37px;
    font-weight: bold;
}

.card-esquerdo button{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}
.card-direito{
    background-image: url('./img/cat2.png');
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 50%;
    border-radius: 5px;    
}
