    body {
        margin: 0px;
    }
    
    .menu{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.menu img{
width: 100px;
height: 100px;
border-radius: 100%;
}

.menu p {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}   
.campo-pesquisa{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.campo-pesquisa input{
    height: 60px;
    width: 50%;
    border-radius: 50px;
    font-size: 20px;
    padding-left: 30px;
}